<mat-list>
  <mat-list-item
    *ngFor="let beer of beers"
    (click)="onSelect(beer)"
    [class.selected]="beer === selectedBeer"
  >
    <h2 class="beer-name">{{ beer.name }}</h2>
  </mat-list-item>
</mat-list>

<mat-card *ngIf="selectedBeer">
  <mat-list>
    <mat-card-title>{{ selectedBeer.name }}</mat-card-title>
    <mat-list-item>
      <p>Brewery: {{ selectedBeer.brewery }}</p>
    </mat-list-item>
    <mat-list-item>
      <p>ABV: {{ selectedBeer.abv }}</p>
    </mat-list-item>
    <mat-list-item>
      <p>Description: {{ selectedBeer.description }}</p>
    </mat-list-item>
    <mat-list-item>
      <p>
        Beer Advocate Review Score:
        <a href="{{ selectedBeer.reviewSite }}">{{
          selectedBeer.reviewScore
        }}</a>
      </p>
    </mat-list-item>
  </mat-list>
</mat-card>
